.parent-category, .parent-category a{
  color:#333;
}
.collection-collapse-block .collection-collapse-block-content .collection-brand-filter .parent-category li * {
  padding-bottom: 0;
  margin-bottom: 5px;
  line-height: 1;
}
