<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>create account</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">create account</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>create account</h3>
                <div class="theme-card">
                    <form class="theme-form" [formGroup]="registerForm">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="name">Full Name</label>
                                <input formControlName="name" type="text" class="form-control" id="name" placeholder="Full Name" required>
                            </div>
                            <div class="col-md-6">
                                <label for="email">Email</label>
                                <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="password">Password</label>
                                <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password" required>
                            </div>
                            <div class="col-md-6">
                                <label for="r_password">Password</label>
                                <input formControlName="repeat_password" type="password" class="form-control" id="r_password" placeholder="Repeat password" required>
                            </div>
                        </div>
                      <div class="form-row">
                        <p class="col-md-6">Gender: </p>
                        <div class="form-check form-check-inline col-md-3 mr-0">
                          <label class="form-check-label" for="male">Male</label>
                          <input formControlName="gender" class="form-check-input ml-2 m-0" type="radio" id="male" value="male" name="gender">
                        </div>
                        <div class="form-check form-check-inline col-md-3 mr-0">
                          <label class="form-check-label" for="female">Female</label>
                          <input formControlName="gender" class="form-check-input ml-2 m-0" type="radio" id="female" value="female" name="gender">
                        </div>
                      </div>
                      <button (click)="register()" class="btn btn-solid">Create Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->
